{% include base_path %}

<h1>How many hotdogs should you eat today?</h1>

<form onsubmit="hotdogEstimator(event)">
    <input type="button" value="How Many?">
</form>

<!-- Element to display the output -->
<div id="output" style="margin-top: 20px; font-weight: bold;"></div>

<script>
    function hotdogEstimator(event) {
        // Prevent the form from submitting and refreshing the page
        event.preventDefault();

        // Generate a random number
        var randomNumber = Math.floor(Math.random() * 10) + 1; // Random number between 1 and 10

        // Play audio
        //var audio = new Audio("{{ '/files/wiiSportsDiscChannel.mp3' | relative_url }}");
        //audio.play();

        // Display the output
        document.getElementById("output").innerHTML = 
            "You must eat " + randomNumber + " hotdogs today!";
    }
</script>
